.connected {
    margin: auto;
    padding: 0;
    width: 300px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
    width: 520px;
}
.connected li {
    list-style: none;
    border: 1px solid #CCC;
    background: #F6F6F6;
    font-family: \"Tahoma\";
    color: #1C94C4;
    margin: 5px;
    padding: 5px;
    min-height: 22px;
}
#connected {
    width: 1530px;
    overflow: hidden;
    margin: auto;
}
